<html>
<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.7.2/redux.js"></script>
</head>
<body>
	<div id="root"></div>

<script type="text/babel">

var App = React.createClass({
  getDefaultProps: function() {
    return {
      ajaxApi: ["/api/category/?format=json",
                "/api/group/?format=json",
                "/api/item-type/?format=json",
                ]
      };
  },
  getInitialState: function() {
    return ({
      category: [],
      group: [],
      itemType: [],
      SelectedCategory: null,
      SelectedGroup: null,
      SelectedItem: null
    });
  },

  fetchApiCallData: function(api) {
        return axios.get(api);
    },

  componentDidMount: function() {
    axios.all(this.props.ajaxApi.map(api => axios.get(api)))
    .then(axios.spread((req1, req2, req3) => {
      this.setState({
        category: req1.data,
        group: req2.data,
        itemType: req3.data
      })
    }))
  },

  onChangeCategory: function(e) {
  	this.setState({SelectedCategory:e.target.value});
  },  

  onChangeGroup: function(e) {
    this.setState({SelectedGroup:e.target.value})
  },

  onChangeItem: function(e) {
    this.setState({SelectedItem:e.target.value})
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {

    var FilteredGroups = []
    for (var i = 0; i < this.state.group.length; i++) {
      var CurrentGroup = this.state.group[i];    
      if(CurrentGroup.catg_id == this.state.SelectedCategory) {
        FilteredGroups.push(CurrentGroup)
      }
    }

    var FilteredItems = []
    for (var i = 0; i < this.state.itemType.length; i++) {
      var CurrentItem = this.state.itemType[i];    
      if(CurrentItem.group_id == this.state.SelectedGroup) {
        FilteredItems.push(CurrentItem)
      }
    }

    //let longWords = itemType.filter(itemType   => word.length > 6);
    let ActuallySelectedItem = this.state.itemType.find(x => x.id == this.state.SelectedItem)
    console.log(ActuallySelectedItem);
    console.log(this.state.SelectedItem);
    return (
      <div>
          <select onChange={this.onChangeCategory}>
            {this.state.category.map((catg,i) => 
              <option value={catg.id} key={i}>{catg.description}</option>
            )}
          </select>

          <select onChange={this.onChangeGroup}>
            {FilteredGroups.map((group, i) =>
              <option value={group.id} key={i}>{group.description}</option>
            )}
          </select>

          <select onChange={this.onChangeItem}>
            {FilteredItems.map((item, i) =>
              <option value={item.id} key={i}>{item.name}</option>
            )}
          </select>



          {ActuallySelectedItem !== undefined &&
            <div style={ {border: '1px solid black', width: 'auto'} }>
              You have chosen {ActuallySelectedItem.name}.
              <h1>{ActuallySelectedItem.name}</h1>
              <p>{ActuallySelectedItem.description}</p>
              <p>{ActuallySelectedItem.cost_per_hour}</p>
              <p>{ActuallySelectedItem.cost_per_day}</p>
              <img src={ActuallySelectedItem.image} />

              <form >
                <input  type={'hidden'} value = {this.state.SelectedItem} name='id' />
                <input type='submit' value = 'Reserve' />
              </form>
            </div>
          }


      </div>
    )
  }
});
ReactDOM.render(<App />, document.querySelector("#root"));

</script>




</body>
</html>